html, 
body {
    position: relative;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: $text;
    font-size: 16px;
    line-height: 30px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}
.btn {
    min-height: 50px;
    max-width: 140px;
    width: 100%;
    background-color: $green;

    a {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        padding: 15px 5px;
        text-align: center;
    }
}

.title {
    font-size: 36px;
    font-weight: 400;
}